<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="errorFile" fileName="${basedir}/logs/${shortdate}_Error.log"
      layout="${time} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="debugFile" fileName="${basedir}/logs/${shortdate}_Debug.log"
      layout="${time} ${uppercase:${level}} ${message}" />
    <target xsi:type="ColoredConsole" name="console"
      layout="${time} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <logger name="*" minlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
  
</nlog>
